<div class="text-center">
<%= image_tag "apple.jpg", class: "img-fluid rounded-circle border mb-3", id: "top_image", alt: "メイン画像" %>
<h1>リンゴで体重管理</h1>
<h2>あなたの体重、リンゴ何個分？？</h2>
<p>リンゴの個数で、日々の体重変化を記録・管理できるアプリ</p>
<%= link_to "始める", login_path, class: "btn btn-primary" %>
</div>
