<% if object.errors.any? %>
  <div class="error_messages alert alert-danger mb-0">
    <ul class="mb-0">
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
